# Compiled Object files
*.slo
*.lo
*.o
# *.obj the .obj extension is used for 3d geometry files

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Codeblocks files
*.depend
*.layout

# Temporary files
*~

# Codeblocks binary folders
prog/engine/bin/
prog/engine/obj/

# Blender files
*.blend1
*.blend2

# Valgrind results
*ValgrindOut*

# Collada files
*.dae